header {
    width:100%;
    text-align:center;
}

img.headerLogo {
    display:inline-block;
    margin: 0 auto;
}

a {

    font-size: 25px;
}

#pic1, #pic2, #pic3, #pic4 {
    border-bottom: black;
    border-top: black;
    border-left: black;
    border-right: black;
    border-style: solid;
    border-radius: 2px;
    padding: 0px;
    width: 32em;
    height: 20em;
    margin: 10px;
    
}

body {
    background-image: url(../images/tausta2.png);
    background-size: cover;
}



.container p {
    font-size: 24px;
}

.container h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#footer a {
    text-decoration: none;
    font-size: 20px;
}

/*Tietoja sivun css */

.container2 h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.container2 {
    margin-left: 300px;
    margin-right: 300px;
}

.container2 p {
    font-size: 24px;
}

/* Krista Koljosen CSS alkaa */

p.question {
    font-family: Arial, sans-serif;
    font-size:20px;
    color: #2E2E2E;
    margin-bottom:0px;
    padding: 20px;
}

#link1 {
    text-decoration: none;
    color: black;
    font-family: "Mansalva", "cursive";
            font-size: 35px;
}
#link2 {
    color: black;
}
#link1:hover {
    color: tomato;
}
#link2:hover {
    color: tomato;
}

  
h2.quizScore{
    font-family: Arial, sans-serif;
    font-size:25px;
    padding-bottom: 20px;
}
  
div.quizAnswers{
    font-family: Arial, sans-serif;
    font-size:16px;
    color: #424242;
    padding: 4px 0 4px 0;
}
  
label {
    font-family: Arial, sans-serif;
    font-size:14px;
    color: #424242;
    vertical-align:top;
}
  
input.answer[type="radio"] {
    margin-bottom: 10px;
}
.card-title {
    text-align: center;
}
#footer {
    margin-top: 100px;
}
#footer1 {
    margin-top: 20px;
}
  
input.quizSubmit[type="submit"] {
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
    color: #ffffff;
    background-color: #afaeae;
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    text-transform:uppercase;
    font-weight: bold;
    height:35px;
    width:85px;
    border: 1px solid #5E5E5E;
    border-radius:5px; 
}
  
input.quizSubmit[type="submit"]:hover {
    color: #ffffff;
    background: #349b1f67;
    text-decoration: none;
}
  
table {
    background-color: #fcdf5f;
    border:1px solid #BDBDBD;
    border-radius:5px;
    padding:10px;
    padding-left:25px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px;
}
  
.submitter {
    width: 85px;
}
  
.hide {
    display: none;
}
h2 {
    text-align: center;
}

/* Krista Koljosen CSS loppuu */
